/*变量*/
/*外部引入*/
@import 'Y:/static/v1/jq/ui/base';
@import 'Y:/static/v1/jq/plugin/carousel';
@import 'Y:/static/v1/scss/ani_trans';
@import 'ani';


/*其他*/
/*mainbox*/
#mainbox
{
    @extend %ph_full;
    overflow: hidden;
}


/*轮播*/
#carousel
{
    @extend %ph_palt;
    @extend %ph_full;

    .pi-carousel-wrap
    {
        //height: 100%;

        & > div
        {
            position: relative;
            //height: 100%;
        }
    }

    .i1
    {
        //background: url(../images/i1.png) no-repeat center center / 270px auto;//安卓4.0-4.3不支持呀,泥煤的
        background: url(../images/i1.png) no-repeat center center;
        background-size: 270px auto;
    }

    .i2
    {
        background: url(../images/i2.png) no-repeat center center;
        background-size: 180px auto;
    }

    .i3
    {
        background: url(../images/i3.png) no-repeat center center;
        background-size: 180px auto;
    }
}