//引入
@import "Y:/static/v1/jq/plugin/carousel";
@import "Y:/static/v1/scss/ani_trans";
@import "Y:/static/v1/scss/animate";


/*轮播*/
#carousel
{
    @extend %ph_palt;
    @extend %ph_full;
}


/*每一part默认样式*/
[class^="part"]
{
    position: relative;

    & > *
    {
        @extend %ph_palt;
        @extend %ph_full;
    }
}


/*每一part背景图*/
@for $i from 1 through 4
{
    .part#{$i}
    {
        background: url(../img/part#{$i}/bg.jpg) center center no-repeat;
        background-size: cover;

        @for $j from 1 through 3
        {
            .i#{$j}
            {
                background: url(../img/part#{$i}/i#{$j}.png) center center no-repeat;
            }
        }
    }
}


/*part1*/
.part1
{
    .i1
    {
        //background: url(../images/i1.png) no-repeat center center / 270px auto;//安卓4.0-4.3不支持呀,泥煤的
        background-size: 270px auto;
    }

    .i2
    {
        $w: 180px;

        width: $w;
        height: $w;
        left: 50%;
        top: 50%;
        margin-left: -$w / 2;
        margin-top: -$w / 2;
        background-size: cover;
    }

    .i3
    {
        background-size: 180px auto;
    }

    &.current
    {
        .i1
        {
            @include bounceInTop($distance: 100%, $span: 10px);

        }

        .i2
        {
            @include bounceInBottom($distance: 400px, $span: 10px);
        }

        .i3
        {
            @include bounceInLeft($distance: 100%);
        }
    }
}


/*part2*/
.part2
{
    .i1
    {
        background-size: 270px auto;
    }

    .i2
    {
        background-size: 180px auto;
    }

    .i3
    {
        background-size: 270px auto;
    }

    &.current
    {
        .i1
        {
            @include bounceInLeft();
        }

        .i2
        {
            @include rollIn;
        }

        .i3
        {
            @include lightSpeedIn;
        }
    }
}


/*part3*/
.part3
{
    .i1
    {
        //background: url(../images/i1.png) no-repeat center center / 270px auto;//安卓4.0-4.3不支持呀,泥煤的
        background-size: 270px auto;

        @include ani_trans($ty: -40%, $ry: -180deg, $rx: 45deg);
    }

    .i2
    {
        $w: 180px;

        width: $w;
        height: $w;
        left: 50%;
        top: 50%;
        margin-left: -$w / 2;
        margin-top: -$w / 2;
        background-size: cover;

        @include ani_trans($sx: 2, $sy: 2, $ry: -180deg);
    }

    .i3
    {
        background-size: 180px auto;

        @include ani_trans($rx: -180deg, $ry: 90deg, $ty: -40%);
    }

    &.current
    {
        .i2
        {
            @include mx_animation(ani_circle 1s ease 2s infinite);
        }
    }
}


/*part4*/
.part4
{
    .i1
    {
        background-size: 270px auto;

        @include ani_trans($tx: -40%, $rx: 180deg, $ky: 45deg);
    }

    .i2
    {
        background-size: 180px auto;

        @include ani_trans($kx: -45deg, $rx: 180deg, $tx: 40%);
    }

    .i3
    {
        background-size: 270px auto;

        @include ani_trans($ry: 180deg, $rz: -90deg, $tx: -40%);
    }
}
