@import "Y:/static/v1/scss/ani_trans";
@import "Y:/static/v1/scss/animate";


/*轮播*/
#carousel
{
    @extend %ph_palt;
    @extend %ph_full;

    .pi-carousel-wrap
    {
        //height: 100%;

        & > div
        {
            position: relative;
            //height: 100%;
        }
    }
}


/*每一部分的背景图*/
@for $i from 1 through 2
{
    .part#{$i}
    {
        background: url(../img/part#{$i}/bg.jpg) center center no-repeat;
        background-size: cover;

        @for $j from 1 through 3
        {
            .i#{$j}
            {
                background: url(../img/part#{$i}/i#{$j}.png) center center no-repeat;
            }
        }
    }
}


/*part1*/
.part1
{
    /*动画时*/
    &.current
    {
        .i1
        {
            @extend %ph_bounceOutLeft;
        }
    }

    .i1
    {
        //background: url(../images/i1.png) no-repeat center center / 270px auto;//安卓4.0-4.3不支持呀,泥煤的
        background-size: 270px auto;

        //@include ani_trans($ty: -40%, $ry: -180deg, $rx: 45deg);
        opacity: 1 !important;
    }

    .i2
    {
        $w: 180px;

        width: $w;
        height: $w;
        left: 50%;
        top: 50%;
        margin-left: -$w / 2;
        margin-top: -$w / 2;
        background-size: cover;

        @include ani_trans($sx: 2, $sy: 2, $ry: -180deg);
        @include mx_animation(ani_circle 1s ease 2s infinite);
    }

    .i3
    {
        background-size: 180px auto;

        @include ani_trans($rx: -180deg, $ry: 90deg, $ty: -40%);
    }
}


/*part2*/
.part2
{
    .i1
    {
        background-size: 270px auto;

        @include ani_trans($tx: -40%, $rx: 180deg, $ky: 45deg);
    }

    .i2
    {
        background-size: 180px auto;

        @include ani_trans($kx: -45deg, $rx: 180deg, $tx: 40%);
    }

    .i3
    {
        background-size: 270px auto;

        @include ani_trans($ry: 180deg, $rz: -90deg, $tx: -40%);
    }
}