//变量
//引入
@import 'Y:/static/v1/jq/ui/base';
@import 'Y:/static/v1/jq/plugin/carousel';
@import 'Y:/static/v1/scss/ani_trans';


/*其他*/
/*mainbox*/
#mainbox
{
    @extend %ph_full;
    overflow: hidden;
}


/*轮播*/
#carousel
{
    @extend %ph_palt;
    @extend %ph_full;

    .pi-carousel-wrap
    {
        //height: 100%;

        & > div
        {
            position: relative;
            //height: 100%;
        }
    }
}


/*每一部分的背景图*/
@for $i from 1 through 2
{
    .part#{$i}
    {
        background: url(../img/part#{$i}/bg.jpg) center center no-repeat;
        background-size: cover;

        @for $j from 1 through 3
        {
            .i#{$j}
            {
                background: url(../img/part#{$i}/i#{$j}.png) center center no-repeat;
            }
        }
    }
}


/*动画*/
@import 'lib/ani';