@charset "UTF-8";
/*变量*/
/*外部引入*/
/*默认变量*/
/*字体*/
/*布局*/
/*默认为1:纯色背景,2:渐变背景*/
/*导航条背景*/
/*边框颜色*/
/*页面背景*/
/*混入*/
/*定位*/
/*transition*/
/*transform*/
/*transform-origin*/
/*animation*/
/*渐变背景*/
/*backface-visibility*/
/*perspective*/
/*盒子阴影*/
/*user-select*/
/*box-sizing*/
/*行高与高度相同*/
/*1px边框*/
/*滤镜*/
/*占位符*/
/*滚动*/
/*定位*/
.pi-carousel-wrap, .at-item, #loading, #carousel {
  position: absolute;
  left: 0;
  top: 0;
}

/*宽度高度100%*/
.at-item, #mainbox, #loading, #carousel {
  width: 100%;
  height: 100%;
}

/*表格单元格*/
.pi-carousel .spinnerbox, #loading > div {
  display: table-cell;
  vertical-align: middle;
  line-height: initial;
}

/*高度自动撑高*/
/*all动画*/
.pi-carousel-title, #loading {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*transform动画*/
.pi-carousel-wrap.transform {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

/*visible*/
/*hidden*/
/*border-box*/
/*content-box*/
/*1px边框*/
/*垂直居中*/
/*外部引入*/
@-webkit-keyframes ani_circle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ani_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*spinner动画*/
.spinner {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-animation: ani_circle 1s ease infinite;
  animation: ani_circle 1s ease infinite;
}
.spinner b {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.spinner b:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translate(0, -20px);
  transform: rotate(45deg) translate(0, -20px);
  opacity: 0.125;
}
.spinner b:nth-of-type(2) {
  -webkit-transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  opacity: 0.25;
}
.spinner b:nth-of-type(3) {
  -webkit-transform: rotate(135deg) translate(0, -20px);
  transform: rotate(135deg) translate(0, -20px);
  opacity: 0.375;
}
.spinner b:nth-of-type(4) {
  -webkit-transform: rotate(180deg) translate(0, -20px);
  transform: rotate(180deg) translate(0, -20px);
  opacity: 0.5;
}
.spinner b:nth-of-type(5) {
  -webkit-transform: rotate(225deg) translate(0, -20px);
  transform: rotate(225deg) translate(0, -20px);
  opacity: 0.625;
}
.spinner b:nth-of-type(6) {
  -webkit-transform: rotate(270deg) translate(0, -20px);
  transform: rotate(270deg) translate(0, -20px);
  opacity: 0.75;
}
.spinner b:nth-of-type(7) {
  -webkit-transform: rotate(315deg) translate(0, -20px);
  transform: rotate(315deg) translate(0, -20px);
  opacity: 0.875;
}
.spinner b:nth-of-type(8) {
  -webkit-transform: rotate(360deg) translate(0, -20px);
  transform: rotate(360deg) translate(0, -20px);
  opacity: 1;
}

/*焦点图*/
.pi-carousel {
  overflow: hidden;
  position: relative;
  display: table;
  /*防止动画过程闪烁*/
  /*防止动画过程闪烁*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.pi-carousel .spinnerbox {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.pi-carousel.loading .spinnerbox {
  opacity: 1;
}

/*滚动容器*/
.pi-carousel-wrap {
  overflow: hidden;
}
.pi-carousel-wrap > * {
  display: block;
  float: left;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.loading .pi-carousel-wrap > * {
  opacity: 0;
}

/*title*/
.pi-carousel-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 1.1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  /*动画*/
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.pi-carousel-title.visible {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*pager*/
.pi-carousel-pager {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.pi-carousel-pager span {
  display: block;
  float: left;
  margin: 0 4px 4px 0;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.pi-carousel-pager span.selected {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  background-color: rgba(255, 255, 255, 0.9);
}
.vertical > .pi-carousel-pager span {
  float: none;
}

/*变量*/
.at-item {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
}
/*复位动画*/
.current .at-item {
  /*重置为默认值*/
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) !important;
  opacity: 1;
  /*相应倍率的延迟后做动画*/
}
.current .at-item.x1 {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.current .at-item.x2 {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
.current .at-item.x3 {
  -webkit-transition-delay: 2.4s;
  transition-delay: 2.4s;
}
.current .at-item.x4 {
  -webkit-transition-delay: 3.2s;
  transition-delay: 3.2s;
}

/*transform函数*/
.i1 {
  background: url(../images/i1.png) no-repeat center center/270px auto;
}

.i2 {
  background: url(../images/i2.png) no-repeat center center/180px auto;
}

.i3 {
  background: url(../images/i3.png) no-repeat center center/180px auto;
}

.part1 .i1 {
  -webkit-transform: translate3d(0, -50%, 0)rotateY(-180deg);
  transform: translate3d(0, -50%, 0)rotateY(-180deg);
}
.part1 .i2 {
  -webkit-transform: scale3d(2, 2, 1)rotateY(-180deg);
  transform: scale3d(2, 2, 1)rotateY(-180deg);
}
.part1 .i3 {
  -webkit-transform: rotateX(-180deg)rotateY(-180deg);
  transform: rotateX(-180deg)rotateY(-180deg);
}

.part2 .i1 {
  -webkit-transform: translate3d(-50%, 0, 0)rotateX(180deg)skewY(50deg);
  transform: translate3d(-50%, 0, 0)rotateX(180deg)skewY(50deg);
}
.part2 .i2 {
  -webkit-transform: translate3d(50%, 0, 0)skewX(-40deg);
  transform: translate3d(50%, 0, 0)skewX(-40deg);
}
.part2 .i3 {
  -webkit-transform: translate3d(50%, 0, 0)rotateZ(-180deg);
  transform: translate3d(50%, 0, 0)rotateZ(-180deg);
}

/*其他*/
/*mainbox*/
#mainbox {
  overflow: hidden;
}

/*loading*/
#loading {
  display: table;
  background-color: #fff;
  z-index: 5;
}
#loading > div {
  text-align: center;
}
.loaded #loading {
  visibility: hidden;
  background-color: transparent;
}
.loaded #loading > div {
  visibility: hidden;
}

/*轮播*/
#carousel .pi-carousel-wrap > div {
  position: relative;
}
